/* ================================= */
/*             mixins            */
/* ================================= */
/* ================================= */
/*             variables             */
/* ================================= */
@font-face {
  font-family: "Relato Sans regular";
  src: url("fonts/RelatoSansOT-Regular.eot"), url("fonts/RelatoSansOT-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/RelatoSansOT-Regular.woff2") format("woff2"), url("fonts/RelatoSansOT-Regular.woff") format("woff"), url("fonts/RelatoSansOT-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Relato Sans semibold";
  src: url("fonts/RelatoSansOT-SemiBold.eot"), url("fonts/RelatoSansOT-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/RelatoSansOT-SemiBold.woff2") format("woff2"), url("fonts/RelatoSansOT-SemiBold.woff") format("woff"), url("fonts/RelatoSansOT-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.container {
  width: 80%;
  margin: auto;
  font-family: "Relato Sans regular";
}
@media (min-width: 768px) {
  .container {
    width: 60%;
  }
}

h1, h2 {
  color: #393a4c;
}

h1 {
  font-size: 2rem;
  letter-spacing: 2px;
  margin: 3rem 0;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
    margin: 5rem 0;
  }
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  position: relative;
  padding: 1.2rem 0 0.8rem;
  margin: 0;
}
@media (min-width: 768px) {
  h2 {
    padding: 1.6rem 0 1rem;
  }
  h2::after {
    top: 23px !important;
  }
}
@media (min-width: 992) {
  h2 {
    font-size: 2rem;
    padding: 0.8rem 0 0.2rem;
  }
}
h2::after {
  content: url(assets/svg/secondary-plus.svg);
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 15px;
  transition-duration: 0.8s;
  transition-property: transform;
}

h3 {
  font-size: 1.2rem;
  position: relative;
  letter-spacing: 2px;
  font-family: "Relato Sans semibold";
  padding: 1rem 0 0.2rem;
  margin: 0;
  color: #808080;
}
h3::after {
  content: url(assets/svg/secondary-plus.svg);
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 13px;
  transition-duration: 0.8s;
  transition-property: transform;
}

.ac {
  border-top: 1px solid #b7b7b7;
}
.ac:last-of-type {
  border-bottom: 1px solid #b7b7b7;
}
.ac h2::after {
  transform: rotate(135deg);
}
.ac .sub-ac {
  transform: scaleY(1);
  transform-origin: top;
  transition: height 1s ease-out;
  border-bottom: 1px solid #b7b7b7;
}
.ac .sub-ac:last-of-type {
  border-bottom: 0;
}
.ac .sub-ac:first-of-type {
  border-top: 1px solid #b7b7b7;
}
.ac .sub-ac h3::after {
  transform: rotate(135deg);
}
.ac .sub-ac.closed .sub-ac-body {
  height: 0;
  transition: height 1s ease-out;
  transform: scaleY(0);
}
.ac .sub-ac.closed h3::after {
  transform: rotate(0deg);
}
.ac.closed .sub-ac {
  height: 0;
  transition: height 1s ease-out;
  transform: scaleY(0);
}
.ac.closed h2::after {
  transform: rotate(0deg);
}

/*# sourceMappingURL=app.css.map */
